<%- include('partials/header') %> <%- include('partials/navbar') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Easy Authentication</h1>
    <p class="lead">
      Please
      <a href="/auth/google">login with Google</a>. The
      <a href="/private-route">Private page</a> is restricted.Passport's
      <a href="http://www.passportjs.org/packages/passport-google-oauth20/"
        >Google OAuth 2.0</a
      >
      strategy provides authentication.
    </p>
    <hr />
  </div>
</div>

<%- include('partials/footer') %>
