<%- include('partials/header') %> <%- include('partials/navbar') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-car fa-6x"></i>
    <h1 class="display-3">Free Parking</h1>
    <p class="secret-text">No cash prize. This isn't Monopoly.</p>
    <p>This page is available without logging in.</p>
  </div>
</div>
<%- include('partials/footer') %>
