<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-car fa-6x"></i>
    <h1 class="display-3">Free Parking</h1>
    <p class="secret-text">This is a public area.</p>
    <p>No money. This isn't Monopoly.</p>
  </div>
</div>
<%- include('partials/footer') %>
